<!DOCTYPE html>
{% extends 'main/base.html' %}
{% block frame %}
    <div class="small_form">
        <div class="jumbotron small_jumb purple_jumb">
            <h2>Faça seu login</h2>

            <form method="POST">
                {% csrf_token %}
                <label for="username">Usuário</label>
                <input type="text" name="username">
                <br/>
                <label for="password">Senha</label>
                <input type="password" name="password">
                <input class="btn btn-info center_content" type="submit" value="Entrar">
            </form>

        </div>
    </div>
{% endblock %}